<!-- Navigation Menu -->
<header class="nav">
  <div class="nav__container">
    <div class="logo">
    <div class="logo__image">
      <img src='<%= navData.logo.imgUrl %>' alt='<%= navData.logo.altText %>'>
    </div>
    <div class="logo__text">
      <h4><%= navData.logo.text %></h4>
    </div>
    </div>
  <!-- loop through navigation links -->
    <ul class="nav__list">
      <% navData.links.forEach(function(link){ %>
      <li class="nav__link">
        <a href='<%= link.url %>'><%= link.text %></a>
      </li>
      <% }) %>
    </ul>


    <div class="burger">
      <div class="burger__line line1"></div>
      <div class="burger__line line2"></div>
      <div class="burger__line line3"></div>
    </div>
  </div>

</header>